In [110]:
import pandas as pd
import json

pd.options.display.max_columns = 100
pd.options.display.max_rows = 200

In [5]:
contributions = pd.read_csv('data/state-candidate-contributions.csv')

In [7]:
contributions.head()

,Addr Line1,Amount,Amount Type,Candidate,City,Contribution Type,Country,Date Paid,Election Type,Employer,Entity Name,First Name,Last Name,Middle Initial,Occupation,Purpose,Reporting Period,State,Total General,Total Primary,Zip,Zip4,type
0,893 Boulder Cut Off Rd,100.0,CA,"Arntzen, Elsie",Cardwell,9,NaN,12/06/2019,PM,SELF EMPLOYED,NaN,Terry,Murphy,NaN,FARMER,NaN,10/01/2019 to 12/31/2019,MT,0.0,300.0,59721,9605.0,Individual contributions
1,121 Mountain View Rd,100.0,CA,"Arntzen, Elsie",Butte,9,NaN,10/23/2019,PM,Pioneer Equipment and Supply,NaN,John,Eyde,NaN,OWNER,NaN,10/01/2019 to 12/31/2019,MT,0.0,100.0,59701,7640.0,Individual contributions
2,59969 US Highway 93,250.0,CA,"Arntzen, Elsie",Ronan,9,NaN,11/25/2019,PM,Self Emplyed,NaN,Susan,Lake,NaN,FARMER,NaN,10/01/2019 to 12/31/2019,MT,0.0,250.0,59864,8670.0,Individual contributions
3,494 Overlake Dr E,360.0,CA,"Arntzen, Elsie",Medina,9,NaN,12/16/2019,PM,NONE,NaN,Katherine,Harnish,NaN,HOMEMAKER,NaN,10/01/2019 to 12/31/2019,WA,0.0,360.0,98039,5327.0,Individual contributions
4,1205 Vineyard Way,360.0,CA,"Arntzen, Elsie",Billings,9,NaN,12/31/2019,PM,CENTURY GAMING,NaN,Karla,Vanvleet,NaN,Senior Controller,NaN,10/01/2019 to 12/31/2019,MT,0.0,360.0,59106,2318.0,Individual contributions

In [80]:
contributions['Candidate'].value_counts()

Cooney, Mike  R           6187
Gianforte, Greg           3644
Fox, Tim                  2501
Williams, Whitney         1770
Graybill, Raph            1145
Bennett, Bryce            1091
Dudik, Kimberly            884
Bennion, Jon               871
Schreiner, Casey  J        642
Olszewski, Albert          623
Knudsen, Austin            553
Morigeau, Shane  A         514
Romano, Melissa            415
Sales, Scott               395
Jacobsen, Christi  K       216
Black, Michael  G          154
Downing, Troy  B           111
Mandeville, Forrest  J     100
Greenwood, Bowen            68
Nicol, Nelly                59
Arntzen, Elsie              59
Scott, Mars                 15
Neill, Reilly               13
Vandevender, Ron  S          3
McKinnon, Laurie             2
Name: Candidate, dtype: int64

In [94]:
gg = contributions[contributions['Candidate'] == 'Gianforte, Greg']
ww = contributions[contributions['Candidate'] == 'Williams, Whitney']
tf = contributions[contributions['Candidate'] == 'Fox, Tim']
cs = contributions[contributions['Candidate'] == 'Schreiner, Casey  J']
mc = contributions[contributions['Candidate'] == 'Cooney, Mike  R']

In [20]:
# GG Pac contributions
ggpac = gg[gg['Contribution Type'].isin([5,6,8])]
print('Sum', ggpac['Amount'].sum())
ggpac.groupby(['Entity Name', 'Contribution Type']).agg(amount=('Amount', sum))

Sum 23250.0

                                                                 amount
Entity Name                                   Contribution Type
American Cable Association                    5                  1000.0
Andy Barr For Congress Inc PAC                5                  1000.0
Boots PAC                                     5                  1710.0
CMR PAC                                       5                  1420.0
Eye Of The Tiger PAC                          5                  1420.0
Friends Of Matt Gaetz                         5                  1360.0
Health Care Service Corporation Employees PAC 5                   180.0
Koch Industries Inc PAC                       5                  5000.0
Lahood For Congress                           8                  1000.0
MBWDA PAC                                     5                   680.0
Meadows For Congress                          8                  1360.0
Merck Employees PAC                           5                   500.0
Midnight Sun PAC                              5                  1000.0
PAC Conservative Promises                     5                  1360.0
PAC Land Of Opportunity                       5                  1420.0
PAC Reaching For A Brighter America           5                  1420.0
PAC The Liberty Fund                          5                  1420.0

In [24]:
## GG personal contributions
ggself = gg[gg['Contribution Type'].isin([1,3])]
print('sum', ggself['Amount'].sum())
ggself

sum 73675.57

,Addr Line1,Amount,Amount Type,Candidate,City,Contribution Type,Country,Date Paid,Election Type,Employer,Entity Name,First Name,Last Name,Middle Initial,Occupation,Purpose,Reporting Period,State,Total General,Total Primary,Zip,Zip4,type
13128,1320 Manley Rd,14076.48,IK,"Gianforte, Greg",Bozeman,1,NaN,09/30/2019,PM,Gianforte Family Foundation,NaN,Greg,Gianforte,R,Trustee,See Attached:,07/01/2019 to 09/30/2019,MT,0.0,85904.87,59715.0,NaN,Personal contributions
13129,1320 Manley Rd,7759.86,IK,"Gianforte, Greg",Bozeman,1,NaN,07/24/2019,PM,Gianforte Family Foundation,NaN,Greg,Gianforte,R,Trustee,See Attached:,07/01/2019 to 09/30/2019,MT,0.0,85904.87,59715.0,NaN,Personal contributions
13130,1320 Manley Rd,89.23,IK,"Gianforte, Greg",Bozeman,1,NaN,07/26/2019,PM,Gianforte Family Foundation,NaN,Greg,Gianforte,R,Trustee,Great Falls State Fair Sign,07/01/2019 to 09/30/2019,MT,0.0,85904.87,59715.0,NaN,Personal contributions
14740,1320 Manley Rd,50000.00,CA,"Gianforte, Greg",Bozeman,3,NaN,06/08/2019,PM,Gianforte Family Foundation,NaN,Greg,Gianforte,NaN,Trustee,NaN,06/01/2019 to 06/30/2019,MT,0.0,50000.00,59715.0,8779.0,Loans
14741,1320 Manley Rd,1750.00,IK,"Gianforte, Greg",Bozeman,1,NaN,06/30/2019,PM,Gianforte Family Foundation,NaN,Greg,Gianforte,NaN,Trustee,Phenom Flight to Fly from Kalispell to Polson ...,06/01/2019 to 06/30/2019,MT,0.0,1750.00,59715.0,8779.0,Personal contributions

In [33]:
cols = ['Candidate','Contribution Type', 'First Name','Last Name','Date Paid','Amount','Amount Type']
gg[
    (gg['Contribution Type'].isin([9]))
    & (gg['Last Name'] == 'Gianforte')
    & (gg['First Name'].isin(['Greg', 'Susan']))
][cols]['Amount'].sum()

13649.3

In [42]:
ggmt = gg[gg['State'] == 'MT']
ggmt_indv = gg[(gg['State'] == 'MT') & (gg['Contribution Type'] == 9)]
print(len(ggmt))
print(len(ggmt_indv))
print(ggmt['Amount'].sum())
print(ggmt_indv['Amount'].sum())

2991
2980
1158198.76
1083227.99

In [43]:
ggmt_indv['Amount'].sum() / len(ggmt_indv)

363.4993255033557

In [50]:
# ggmt['Amount'].sum() / len(ggmt)
gg_indv = gg[gg['Contribution Type'] == 9]
gg_indv['Amount'].sum() / len(gg_indv)

378.78463618622806

In [74]:
gg_indv  = gg[gg['Contribution Type'] == 9]
gg_bystate = gg_indv.groupby('State').agg(donations=('Amount',sum),count=('Amount','count'))
gg_bystate['percent'] = gg_bystate['donations'] / gg_bystate['donations'].sum()
gg_bystate['average_size'] = gg_bystate['donations'] / gg_bystate['count']
gg_bystate.sort_values('count',ascending=False).head(10)

        donations  count   percent  average_size
State
MT     1083227.99   2980  0.798046    363.499326
CA       62345.00    123  0.045931    506.869919
TX       20655.00     44  0.015217    469.431818
CO       19785.00     36  0.014576    549.583333
FL       15820.00     35  0.011655    452.000000
WA       14780.00     28  0.010889    527.857143
PA        8105.00     24  0.005971    337.708333
OH       12220.00     24  0.009003    509.166667
NV        9490.00     23  0.006992    412.608696
WY        9170.00     18  0.006756    509.444444

In [56]:
# WILLIAMs
ww_indv  = ww[ww['Contribution Type'] == 9]
ww_indvmt = ww_indv[ww_indv['State'] == 'MT']
print(len(ww_indvmt))
ww_indvmt['Amount'].sum()

936

104118.0

In [55]:
ww_indvca = ww_indv[ww_indv['State'] == 'CA']
len(ww_indvca)

243

In [73]:
ww_indv  = ww[ww['Contribution Type'] == 9]
ww_bystate = ww_indv.groupby('State').agg(donations=('Amount',sum),count=('Amount','count'))
ww_bystate['percent'] = ww_bystate['donations'] / ww_bystate['donations'].sum()
ww_bystate['average_size'] = ww_bystate['donations'] / ww_bystate['count']
ww_bystate.sort_values('count',ascending=False).head(10)

       donations  count   percent  average_size
State
MT      104118.0    936  0.243187    111.237179
WA       86068.8    248  0.201030    347.051613
CA      108752.4    243  0.254012    447.540741
NY       30315.2     65  0.070807    466.387692
DC       20225.0     53  0.047239    381.603774
MN       16145.0     46  0.037710    350.978261
OR        8070.0     20  0.018849    403.500000
MD        5470.0     17  0.012776    321.764706
VA        5870.0     13  0.013710    451.538462
FL        3925.0     13  0.009168    301.923077

In [64]:
ww[ww['Entity Name'].astype(str).str.contains('Emily')]

,Addr Line1,Amount,Amount Type,Candidate,City,Contribution Type,Country,Date Paid,Election Type,Employer,Entity Name,First Name,Last Name,Middle Initial,Occupation,Purpose,Reporting Period,State,Total General,Total Primary,Zip,Zip4,type
20440,1800 M St NW Ste 375N,710.0,CA,"Williams, Whitney",Washington,8,NaN,12/30/2019,PM,NaN,Emily's List Federal Fund,NaN,Emily's List,NaN,NaN,NaN,10/01/2019 to 12/31/2019,DC,0.0,710.0,20036,NaN,Other political committee contributions

In [69]:
# Fox
cols=['Candidate','Contribution Type','Entity Name','Date Paid','Amount','Amount Type']
tf[tf['Contribution Type'].isin([5,6,8])][cols]

,Candidate,Contribution Type,Entity Name,Date Paid,Amount,Amount Type
9852,"Fox, Tim",5,Pfizer Pac,10/11/2019,680.0,CA
9926,"Fox, Tim",8,Kilby Butte Colony,12/20/2019,175.0,CA
9961,"Fox, Tim",5,Montanans for Olszewski,12/06/2019,51.5,CA
10416,"Fox, Tim",8,Dave Yost For Ohio,07/19/2019,250.0,CA
10510,"Fox, Tim",5,Trinity Industries Employee PAC,07/19/2019,680.0,CA
10512,"Fox, Tim",5,Orrick Herrington & Sutcliffe LLP Fed PAC,07/19/2019,500.0,CA
10534,"Fox, Tim",5,Cajun Pac,08/23/2019,680.0,CA
10535,"Fox, Tim",5,Cajun Pac,08/23/2019,680.0,CA
10546,"Fox, Tim",5,Health Care Service Corp Pac,09/30/2019,680.0,CA
10576,"Fox, Tim",5,Deloitte PAC,09/09/2019,680.0,CA
10577,"Fox, Tim",5,Deloitte PAC,09/09/2019,680.0,CA
10654,"Fox, Tim",5,Bennion For Attorney General,09/30/2019,82.5,CA
10792,"Fox, Tim",5,PAC Enterprise Holdings Inc,07/19/2019,680.0,CA
10793,"Fox, Tim",5,PAC Enterprise Holdings Inc,07/19/2019,680.0,CA
11111,"Fox, Tim",5,MCA BackPAC,06/27/2019,680.0,CA
11112,"Fox, Tim",5,MCA BackPAC,06/27/2019,680.0,CA
11243,"Fox, Tim",5,Basin Electric Power Cooperative PAC,05/20/2019,680.0,CA
11263,"Fox, Tim",5,PAC Nationwide Mutual Insurance Co,06/28/2019,680.0,CA
11400,"Fox, Tim",5,BNSF RailPAC,03/29/2019,680.0,CA
11503,"Fox, Tim",5,(IFA) National Association Of Insurance and Fi...,01/30/2019,680.0,CA

In [72]:
tf_indv  = tf[tf['Contribution Type'] == 9]
tf_bystate = tf_indv.groupby('State').agg(donations=('Amount',sum),count=('Amount','count'))
tf_bystate['percent'] = tf_bystate['donations'] / tf_bystate['donations'].sum()
tf_bystate['average_size'] = tf_bystate['donations'] / tf_bystate['count']
tf_bystate.sort_values('count',ascending=False).head(10)

       donations  count   percent  average_size
State
MT     463841.36   2282  0.843259    203.260894
TX      15763.13     29  0.028657    543.556207
CA      10440.00     22  0.018980    474.545455
LA       7520.00     13  0.013671    578.461538
CO       4150.00     11  0.007545    377.272727
WY       3172.40     10  0.005767    317.240000
VA       5291.15      9  0.009619    587.905556
UT       3933.43      9  0.007151    437.047778
AZ       3160.00      8  0.005745    395.000000
SD        576.90      8  0.001049     72.112500

In [85]:
cs['Amount'].describe()

count    642.000000
mean     126.125156
std      169.763838
min        5.000000
25%       25.000000
50%       50.000000
75%      100.000000
max      710.000000
Name: Amount, dtype: float64

In [86]:
raw = pd.read_json('data/raw-contributions.json', orient='records')

In [88]:
cs = raw[raw['Candidate'] == 'Schreiner, Casey  J']

In [90]:
cs['Amount'].sum()

80972.35

In [91]:
len(cs)

642

In [95]:
len(mc)

6187

In [122]:
print(len(mc))
mc['Reporting Period'].value_counts()

6187

10/01/2019 to 12/31/2019    3641
07/01/2019 to 09/30/2019    2546
Name: Reporting Period, dtype: int64

In [133]:
len(mc)

6187

In [134]:
len(mc[mc['Amount'] < 35])

3367

In [127]:
cpn = pd.read_clipboard()

In [138]:
len(cpn[cpn['Amount']  35]) / len(cpn)

0.21067783302800314

In [143]:
cpn[cpn['Amount'] < 35]['Amount'].sum()

99878.18000000001